.world-map { position: relative; width: 100%; aspect-ratio: 1389/955; }
.world-map .country { position: absolute; }
.world-map .country img { display: block; width: 100%; height: 100%; }
.world-map .map-pin { position: absolute; z-index: 5; }
.world-map .map-pin img { display: block; width: 100%; height: 100%; }

.country-ad { inset: 47.56% 52.48% 52.33% 47.43%; }
.country-ae { inset: 55.67% 37.29% 42.82% 61.37%; }
.country-af { inset: 49.77% 32.15% 45.84% 63.85%; }
.country-ag { inset: 59.28% 70.11% 40.42% 29.83%; }
.country-ai { inset: 59.05% 70.47% 40.91% 29.48%; }
.country-al { inset: 47.55% 47.12% 50.85% 52.39%; }
.country-am { inset: 48.29% 40.02% 50.44% 59.11%; }
.country-ao { inset: 68.26% 46.28% 26.17% 50.3%; }
.country-ar { inset: 75.44% 67.88% 6.96% 26.58%; }
.country-as { inset: 72.26% 0.31% 27.7% 99.62%; }
.country-at { inset: 43.88% 48.2% 54.56% 49.68%; }
.country-au { inset: 70.54% 8.78% 7.15% 78.42%; }
.country-aw { inset: 61.4% 72.39% 38.52% 27.56%; }
.country-ax { inset: 35.88% 47.24% 63.8% 52.46%; }
.country-az { inset: 47.96% 38.97% 50.2% 59.48%; }
.country-ba { inset: 46.09% 47.52% 52.4% 51.41%; }
.country-bb { inset: 61.11% 69.48% 38.79% 30.46%; }
.country-bd { inset: 55.44% 27.22% 42.03% 71.5%; }
.country-be { inset: 42.32% 51.2% 56.43% 47.74%; }
.country-bf { inset: 60.38% 52.3% 37.3% 45.5%; }
.country-bg { inset: 46.67% 45.02% 51.69% 53.25%; }
.country-bh { inset: 55.59% 38.9% 44.22% 61.06%; }
.country-bi { inset: 67.42% 44.4% 31.72% 55.1%; }
.country-bj { inset: 61.49% 51.9% 36% 47.25%; }
.country-bl { inset: 59.19% 70.42% 40.79% 29.56%; }
.country-bn { inset: 64.48% 20.91% 35.12% 78.74%; }
.country-bo { inset: 70.4% 68.95% 24.09% 27.68%; }
.country-bm { inset: 52.76% 70.94% 47.18% 29.01%; }
.country-bq { inset: 59.31% 70.46% 38.36% 28.03%; }
.country-br { inset: 64.38% 62.64% 19.13% 26.47%; }
.country-bs { inset: 55.28% 73.19% 42.09% 25.08%; }
.country-bt { inset: 54.66% 27.37% 44.62% 71.7%; }
.country-bv { inset: 92.59% 52% 7.35% 47.96%; }
.country-bw { inset: 73.73% 44.8% 22.34% 52.59%; }
.country-by { inset: 39.14% 43.87% 57.54% 53.48%; }
.country-bz { inset: 58.96% 77.37% 39.96% 22.23%; }
.country-ca { inset: 1.72% 67.6% 51.95% 7.84%; }
.country-cc { inset: 71.38% 26.02% 28.59% 73.95%; }
.country-cd { inset: 64.36% 44.27% 28.07% 50.43%; }
.country-cf { inset: 62.06% 45.35% 34.42% 51.05%; }
.country-cg { inset: 65.01% 47.79% 31.5% 50.13%; }
.country-ch { inset: 44.63% 50.06% 54.23% 48.69%; }
.country-ci { inset: 62.17% 53.66% 35.26% 44.64%; }
.country-ck { inset: 75.18% 97.37% 24.8% 2.6%; }
.country-cl { inset: 73.61% 71.43% 6.35% 16.62%; }
.country-cm { inset: 61.21% 48.47% 34.18% 49.41%; }
.country-cn { inset: 40.95% 15.51% 40.93% 67.49%; }
.country-co { inset: 61.47% 71.55% 31.81% 25.07%; }
.country-cr { inset: 61.98% 75.91% 36.75% 23.16%; }
.country-cu { inset: 56.94% 73.57% 41.63% 23.44%; }
.country-cv { inset: 59.5% 59.27% 39.51% 39.99%; }
.country-cw { inset: 61.49% 72.08% 38.37% 27.81%; }
.country-cx { inset: 70.69% 23.58% 29.26% 76.38%; }
.country-cy { inset: 51.17% 43.36% 48.29% 56.01%; }
.country-cz { inset: 42.61% 47.73% 55.86% 50.4%; }
.country-de { inset: 39.92% 48.79% 55.08% 48.66%; }
.country-dj { inset: 61.36% 40.9% 37.92% 58.64%; }
.country-dk { inset: 37.97% 48.76% 59.78% 49.29%; }
.country-dm { inset: 60.15% 69.99% 39.68% 29.95%; }
.country-do { inset: 58.35% 71.96% 40.69% 27.02%; }
.country-dz { inset: 50.46% 49.64% 41.26% 44.62%; }
.country-ec { inset: 65.91% 73.88% 31.51% 21.56%; }
.country-eg { inset: 53.11% 42.72% 42.54% 53.9%; }
.country-ee { inset: 36.5% 45.14% 61.87% 53.11%; }
.country-eh { inset: 54.95% 55.38% 42.03% 42.28%; }
.country-er { inset: 59.16% 40.98% 38.51% 57.16%; }
.country-es { inset: 46.94% 51.76% 45.04% 41.99%; }
.country-et { inset: 60.47% 39.63% 34.9% 56.21%; }
.country-fi { inset: 26.48% 44.2% 63.64% 52.77%; }
.country-fj { inset: 71.53% 2.45% 24.6% 95.56%; }
.country-fk { inset: 90.52% 69.03% 8.81% 30.04%; }
.country-fm { inset: 62.63% 7.66% 35.63% 85.41%; }
.country-fo { inset: 34.24% 54.75% 64.96% 44.97%; }
.country-fr { inset: 42.57% 50.31% 51.76% 45.71%; }
.country-ga { inset: 65.57% 48.94% 31.94% 49.45%; }
.country-gb { inset: 35.53% 52.48% 56.75% 44.77%; }
.country-ge { inset: 47.05% 39.99% 51.6% 58.15%; }
.country-gd { inset: 61.55% 70.09% 38.35% 29.86%; }
.country-gf { inset: 64.17% 67.32% 34.36% 31.85%; }
.country-gg { inset: 43.57% 53.66% 56.38% 46.3%; }
.country-gh { inset: 61.99% 52.64% 35.42% 46.13%; }
.country-gi { inset: 50.93% 54.45% 49.05% 45.55%; }
.country-gl { inset: 0.04% 56.14% 63.64% 26.79%; }
.country-gm { inset: 60.9% 56.81% 38.79% 42.36%; }
.country-gn { inset: 61.37% 55.1% 36.41% 42.85%; }
.country-go { inset: 71.15% 39.82% 28.84% 60.18%; }
.country-gp { inset: 59.79% 69.97% 39.96% 29.86%; }
.country-gq { inset: 64.98% 49.81% 33.89% 49.38%; }
.country-gr { inset: 48.04% 45.12% 48.47% 52.5%; }
.country-gs { inset: 92.32% 60.26% 4.42% 36.47%; }
.country-gt { inset: 59.24% 77.49% 39.06% 21.4%; }
.country-gu { inset: 60.98% 12.68% 38.87% 87.24%; }
.country-gw { inset: 61.37% 56.77% 37.92% 42.39%; }
.country-gy { inset: 63.05% 68.67% 33.99% 29.97%; }
.country-hk { inset: 57.21% 21.18% 42.63% 78.68%; }
.country-hm { inset: 91.63% 32.44% 8.22% 67.4%; }
.country-hn { inset: 59.78% 76.08% 38.75% 22.2%; }
.country-hr { inset: 45.36% 47.57% 52.33% 50.79%; }
.country-ht { inset: 58.27% 72.88% 40.86% 26.33%; }
.country-hu { inset: 44.16% 46.61% 54.19% 51.51%; }
.country-id { inset: 64.12% 13.78% 29.12% 73.5%; }
.country-ie { inset: 39.7% 54.64% 57.67% 44.15%; }
.country-il { inset: 52.26% 42.98% 45.88% 56.55%; }
.country-im { inset: 40.37% 54.17% 59.39% 45.7%; }
.country-in { inset: 51.26% 25.91% 36.22% 65.98%; }
.country-io { inset: 69.39% 32.81% 30.52% 67.14%; }
.country-iq { inset: 50.32% 39.47% 45.69% 57.81%; }
.country-ir { inset: 49.09% 35.37% 43.9% 59.27%; }
.country-is { inset: 30.34% 56.73% 66.69% 40.23%; }
.country-it { inset: 45.04% 47.83% 49.34% 48.88%; }
.country-je { inset: 43.72% 53.52% 56.22% 46.41%; }
.country-jm { inset: 58.94% 74.15% 40.72% 25.26%; }
.country-jo { inset: 52.29% 42.04% 45.75% 56.75%; }
.country-jp { inset: 45.95% 12.43% 43.53% 81.41%; }
.country-ju { inset: 73.42% 41.08% 26.57% 58.91%; }
.country-ke { inset: 64.29% 41.32% 31.63% 56.46%; }
.country-kg { inset: 47.23% 30.66% 50.62% 66.28%; }
.country-kh { inset: 60.53% 23.06% 37.7% 75.48%; }
.country-ki { inset: 64.92% 0.45% 28.89% 2.73%; }
.country-km { inset: 71.07% 40.59% 28.52% 59.05%; }
.country-kn { inset: 59.41% 70.35% 40.46% 29.57%; }
.country-kp { inset: 47.36% 16.64% 49.86% 81.6%; }
.country-kr { inset: 49.68% 16.57% 47.63% 82.06%; }
.country-xk { inset: 47.22% 46.92% 52.02% 52.6%; }
.country-kw { inset: 53.84% 39.5% 45.45% 59.97%; }
.country-ky { inset: 58.41% 75.13% 41.38% 24.4%; }
.country-kz { inset: 39.68% 28.69% 51.35% 59.99%; }
.country-la { inset: 57.24% 23.04% 39.14% 74.86%; }
.country-lb { inset: 51.66% 42.8% 47.57% 56.79%; }
.country-lc { inset: 60.79% 69.89% 39.06% 30.06%; }
.country-li { inset: 44.93% 50.29% 54.95% 49.67%; }
.country-lk { inset: 62.54% 30.21% 35.9% 69.19%; }
.country-lr { inset: 63.06% 55.02% 35.25% 43.84%; }
.country-ls { inset: 78.45% 44.8% 20.6% 54.55%; }
.country-lt { inset: 38.95% 45.52% 59.28% 52.84%; }
.country-lu { inset: 43.16% 51.16% 56.39% 48.63%; }
.country-lv { inset: 37.72% 45.13% 60.51% 52.88%; }
.country-ly { inset: 52.38% 45.97% 41.47% 49.62%; }
.country-ma { inset: 51.04% 53.26% 45.04% 43.37%; }
.country-mc { inset: 46.93% 50.9% 53.04% 49.09%; }
.country-md { inset: 44.2% 44.59% 54.01% 54.43%; }
.country-mg { inset: 71.36% 38.93% 22.91% 59.06%; }
.country-me { inset: 47.06% 47.31% 52.02% 52.16%; }
.country-mf { inset: 59.11% 70.48% 40.87% 29.49%; }
.country-mh { inset: 61.99% 5.22% 35.84% 93.41%; }
.country-mk { inset: 47.71% 46.57% 51.48% 52.72%; }
.country-ml { inset: 56.14% 51.79% 37.59% 43.62%; }
.country-mo { inset: 57.35% 21.4% 42.63% 78.58%; }
.country-mm { inset: 54.56% 24.85% 37.48% 72.66%; }
.country-mn { inset: 41.91% 19.64% 51.88% 71.42%; }
.country-mp { inset: 58.82% 12.43% 39.22% 87.38%; }
.country-mq { inset: 60.46% 69.87% 39.35% 30.02%; }
.country-mr { inset: 55.12% 54.31% 39.48% 42.29%; }
.country-ms { inset: 59.66% 70.24% 40.29% 29.74%; }
.country-mt { inset: 50.97% 48.92% 48.9% 50.98%; }
.country-mu { inset: 74.66% 36.9% 25.11% 62.97%; }
.country-mv { inset: 64.79% 32.53% 34.8% 67.43%; }
.country-mw { inset: 70.27% 42.99% 26.55% 56.12%; }
.country-mx { inset: 52.6% 77.06% 39.4% 14.12%; }
.country-my { inset: 63.54% 19.81% 33.86% 74.73%; }
.country-mz { inset: 70.7% 41.61% 22.33% 55.44%; }
.country-na { inset: 73.39% 45.94% 21.39% 50.29%; }
.country-nc { inset: 74.29% 6.23% 24.19% 91.49%; }
.country-ne { inset: 56.79% 48.53% 38.23% 47.08%; }
.country-nf { inset: 78.64% 6.27% 21.32% 93.71%; }
.country-ng { inset: 60.88% 48.9% 35.22% 47.78%; }
.country-ni { inset: 60.41% 76.08% 37.83% 22.67%; }
.country-nl { inset: 40.91% 50.96% 57.21% 47.97%; }
.country-no { inset: 25.17% 44.36% 62.25% 48.37%; }
.country-np { inset: 53.7% 28.46% 44.46% 69.29%; }
.country-nr { inset: 66.69% 6.56% 33.29% 93.43%; }
.country-nu { inset: 74.23% 0.1% 25.7% 99.86%; }
.country-nz { inset: 81.2% 1.85% 8.63% 93.15%; }
.country-om { inset: 55.54% 36.33% 40.27% 61.48%; }
.country-pa { inset: 62.63% 74.42% 36.41% 23.96%; }
.country-pe { inset: 66.51% 72.06% 26.03% 24.43%; }
.country-pf { inset: 70.02% 90.85% 24.96% 4.92%; }
.country-pg { inset: 67.03% 9.62% 28.82% 86.19%; }
.country-ph { inset: 57.95% 17.78% 35.54% 79.55%; }
.country-pk { inset: 50.49% 31.34% 43.31% 63.95%; }
.country-pl { inset: 40.07% 46.26% 56.13% 50.96%; }
.country-pm { inset: 45.03% 68.57% 54.77% 31.36%; }
.country-pn { inset: 76.54% 88.62% 23.42% 11.36%; }
.country-pr { inset: 58.94% 71.11% 40.82% 28.15%; }
.country-ps { inset: 52.69% 43.08% 46.68% 56.54%; }
.country-pt { inset: 47.83% 54.69% 47.36% 38.34%; }
.country-pw { inset: 63.39% 15.54% 34.72% 83.48%; }
.country-py { inset: 74.36% 68.04% 22.02% 29.62%; }
.country-qa { inset: 55.63% 38.62% 43.67% 61.14%; }
.country-re { inset: 75.04% 37.44% 24.75% 62.39%; }
.country-ro { inset: 44.33% 44.71% 53.01% 52.66%; }
.country-rs { inset: 45.57% 46.58% 52.23% 52.27%; }
.country-ru { inset: 5.62% 0.08% 51.66% 52.48%; }
.country-rw { inset: 66.92% 44.38% 32.39% 55.06%; }
.country-sa { inset: 52.89% 37.5% 40.16% 56.66%; }
.country-sb { inset: 69.14% 6.57% 28.74% 90.31%; }
.country-sc { inset: 68.32% 37.53% 31.59% 62.43%; }
.country-sd { inset: 57.37% 42.23% 36.99% 53.1%; }
.country-se { inset: 27.66% 46.25% 60.28% 50.13%; }
.country-sg { inset: 65.91% 24.06% 34.02% 75.85%; }
.country-sh { inset: 69.66% 54.54% 27.02% 43.03%; }
.country-si { inset: 45.17% 48.37% 54% 50.75%; }
.country-sj { inset: 9.24% 43.62% 74.45% 44.51%; }
.country-sk { inset: 43.52% 46.7% 55.37% 51.72%; }
.country-sl { inset: 62.46% 55.82% 36.28% 43.34%; }
.country-sm { inset: 46.81% 49.49% 53.13% 50.48%; }
.country-sn { inset: 59.71% 56.13% 38.49% 42.16%; }
.country-so { inset: 61.66% 38.68% 32.83% 58.42%; }
.country-sr { inset: 64.09% 67.97% 34.25% 30.9%; }
.country-ss { inset: 61.56% 43.16% 34.91% 53.75%; }
.country-st { inset: 65.81% 50.89% 33.53% 48.83%; }
.country-sv { inset: 60.65% 77.35% 38.83% 21.99%; }
.country-sx { inset: 59.13% 70.48% 40.85% 29.49%; }
.country-sy { inset: 50.36% 41.19% 47.21% 56.98%; }
.country-sz { inset: 77.17% 44.04% 22.13% 55.59%; }
.country-tc { inset: 57.47% 72.88% 42.44% 26.93%; }
.country-td { inset: 56.82% 46.3% 36.51% 50.77%; }
.country-tf { inset: 87.5% 33.35% 10.47% 61.39%; }
.country-tg { inset: 62.01% 52.47% 35.95% 47.01%; }
.country-th { inset: 58.13% 23.6% 35.77% 74.1%; }
.country-tj { inset: 48.42% 32.09% 49.33% 65.76%; }
.country-tk { inset: 69.92% 0.48% 29.75% 99.15%; }
.country-tl { inset: 69.76% 17.58% 29.68% 81.51%; }
.country-tm { inset: 47.48% 34.45% 48.58% 61.63%; }
.country-tn { inset: 50.34% 49.76% 46.23% 49.12%; }
.country-to { inset: 74.06% 1.24% 24.71% 98.36%; }
.country-tr { inset: 47.85% 40.51% 48.91% 54.17%; }
.country-tt { inset: 61.92% 69.79% 37.56% 29.83%; }
.country-tv { inset: 68.93% 3.15% 30.07% 96.04%; }
.country-tw { inset: 56.02% 19.07% 42.51% 79.91%; }
.country-tz { inset: 66.89% 41.72% 28.79% 55.19%; }
.country-ua { inset: 41.76% 41.81% 53.41% 53.19%; }
.country-ug { inset: 64.8% 43.24% 32.92% 55.25%; }
.country-um_dq { inset: 66.64% 97.44% 33.35% 2.55%; }
.country-um_fq { inset: 66.4% 1.95% 33.6% 98.05%; }
.country-um_hq { inset: 66.17% 2% 33.83% 98%; }
.country-um_jq { inset: 59.69% 0.02% 40.31% 99.98%; }
.country-um_mq { inset: 54.7% 2.2% 45.29% 97.79%; }
.country-um_wq { inset: 58.6% 6.64% 41.38% 93.35%; }
.country-us { inset: 24.84% 71.59% 41.25% 0.03%; }
.country-uy { inset: 79.15% 67.73% 18.55% 30.79%; }
.country-uz { inset: 45.92% 32.64% 49.58% 62.59%; }
.country-va { inset: 47.96% 49.51% 52.04% 50.49%; }
.country-vc { inset: 61.09% 69.96% 38.64% 29.98%; }
.country-ve { inset: 61.58% 69.6% 33.79% 26.64%; }
.country-vg { inset: 58.84% 70.83% 41.01% 29.05%; }
.country-vi { inset: 59% 70.92% 40.72% 28.96%; }
.country-vn { inset: 56.87% 22.54% 36.96% 75.42%; }
.country-vu { inset: 72.03% 5.74% 25.23% 93.32%; }
.country-wf { inset: 71.83% 1.86% 27.71% 97.57%; }
.country-ws { inset: 71.93% 0.56% 27.83% 99.07%; }
.country-ye { inset: 58.74% 37.81% 38.48% 58.86%; }
.country-yt { inset: 71.6% 40.4% 28.27% 59.55%; }
.country-za { inset: 75.59% 42.43% 12.13% 51.61%; }
.country-zm { inset: 69.78% 43.61% 26.16% 53.14%; }
.country-zw { inset: 72.83% 43.79% 24.3% 54.05%; }
